/client
/en-US
/Modules
/net472
/netstandard2.0
/poshud
/UniversalDashboard.Community.psd1
/UniversalDashboard.psd1
/UniversalDashboard.Controls.psm1
/UniversalDashboard.psm1
/UniversalDashboardServer.psm1
/temp